<html>
        <head>
                <title>Response - Node</title>
        </head>
        <style type="text/css">
                body{
                        margin:100 auto;
                        width: 50%;
                }
        </style>
        <body>
                <h1>Thank you for contacting us</h1>
                <h2>Hi <strong>test</strong>,</h2>
                <p>We got the below message from you</p>
                <pre></pre>
                <p>We are going to get back to you using your email address: ios/p>
        </body>
</html>